@import url('./CSS Reset.css');

/* * {
    border: 1px solid white;
} */

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

html, body {
  overflow-x: hidden;
}

:root {
    --black: #000000;
    --darkgray: #66666e;
    --gray: #9999a1;
    --lightgray: #e6e6e9;
    --white: #f4f4f6;
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Poiret One', sans-serif;
    letter-spacing: 0.3rem;
}

section {
    margin-bottom: 100px;
    text-align: center;
    font-size: 2rem;
}

section h2 {
    display: inline-block;
    border-bottom: 5px solid var(--white); 
}

.hero h1{
    font-size: 12rem;
    font-weight: 900;
    letter-spacing: 2rem;
}

.hero h3{
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
}

.hero {
    height: 40rem;
    background-image: url('../media/bg.jpeg');
    background-clip: text;
    background-size: 200%;
    color: transparent;
    text-shadow: none;
    text-align: center;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: animate-background 5s infinite alternate linear;
}

.hero img {
    margin-top: 2rem;
    width: 15%;
    object-fit: cover;
}

#up {
    text-decoration: none;
    color: var(--lightgray);
    font-size: 300%;
    opacity: 0.5;
    position: fixed;
    z-index: 99;
    bottom: 10px;
    right: 10px;
    transition: all 200ms ease-in-out;
}

#up:hover {
    transform: translateY(-10px);
}

#collections {
    width: 100%;
    margin-top: 5rem;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 3rem;
    column-gap: 1rem;
}

#collections div {
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 600px;
    width: 30%;
    min-width: 270px;
}

#collections div .collection-img {
    height: 80%;
    width: 100%;
    overflow: hidden;
}

#collections div .collection-img img {
    width: 100%;
}

#collections div button {
    background-color: var(--lightgray);
    padding: 0.5rem 1rem;
    transition: all 200ms linear;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

#collections div button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--darkgray);
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

#collections div button:hover {
    color: var(--white);
    cursor: pointer;
}

#collections div button:hover::before {
    transform: scaleY(1);
}

#gallery {
    padding: 1rem;
    column-count: 3;
    margin-top: 5rem;
}

#gallery div {
    margin-bottom: 2rem;
}

#gallery div img {
    border-radius: 20px;
    width: 100%;
}

#who {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

#story {
    position: relative;
    font-size: 0.8em;
    padding: 2rem;
    margin: 0 2rem;
    border-radius: 15px;
    transition: all 300ms linear;
}

#story::before {
    content: '';
    position: absolute;
    border: var(--gray) solid 1px;
    border-radius: 15px;
    transition: all 300ms linear;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
}

#story:hover {
    box-shadow: 0 0 10px 0 var(--gray);
}

#story:hover::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

#reasons {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    padding: 5rem 1rem;
}

.reason {
    width: 27%;
    min-width: 300px;
    padding: 1rem;
    border-radius: 25px;
    transition: all 300ms ease-in-out;
    text-align: center;
}

.reason:hover {
    box-shadow: 0 0 20px 0 var(--gray);
    transform: scale(1.05) translateY(-20px);
}

.reason p {
    font-size: 1.5rem;
    opacity: 0;
    transition: all 300ms linear;
}

.reason:hover p {
    opacity: 1;
}

#words {
    margin-top: 3rem;
    word-spacing: 5rem;
    background-clip: text;
    color: transparent;
    text-shadow: var(--white) 0px 0px 15px;
    transition: all 300ms linear;
}

#offer:hover #words {
    color: var(--white);
    letter-spacing: 0.5rem;
    text-shadow: 0 0 10px var(--white);
}

#blogs {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.blog {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    width: 70%;
    height: 15rem;
    border-radius: 20px;
    overflow: hidden;
    column-gap: 1rem;
    transition: all 300ms linear !important;
}

.blog:hover {
    box-shadow: 0 0 10px 0 var(--white);
}

.blog-img {
    grid-column: 1 / span 1;
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms linear;
}

.blog:hover .blog-img img {
    filter: brightness(90%) blur(1px);
    transform: scale(1.1);
}

.blog-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    grid-column: 2 / span 1;
    text-align: start;
}

.blog-info p {
    font-weight: bold;
    transition: all 300ms linear;
}

.blog-info h4 {
    font-size: 1.2rem;
    color: var(--darkgray);
    transition: all 300ms linear;
}

.blog:hover .blog-info h4 {
    letter-spacing: 0.5rem;
}

.blog:hover .blog-info p {
    text-shadow: 2px 2px 6px rgba(255,255,255,0.7);
}

.blog span {
    transform: rotate(-90deg);
    text-align: center;
    grid-column: 3 / span 1;
    align-self: center;
    padding: 1.5rem 0.5rem;
    transition: all 200ms linear;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.blog span::before {
    content: "Read";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.blog:hover span {
    color: var(--white);
}

.blog span:hover {
    background: var(--darkgray);
    cursor: pointer;
}

.blog:hover span::before {
    transform: scaleY(1);
}

#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 5rem;
    padding: 5rem 3rem;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 15rem;
    width: 30%;
    min-width: 150px;
    font-size: 1.5rem;
}

.member img {
    width: 40%;
    border-radius: 50%;
}

.member h6 {
    color: var(--gray);
}

#arrivals {
    max-width: 90%;
    height: 30rem;
    margin: 5rem auto 0;
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

#slider {
    padding-block: 1rem;
    font-size: 90%;
    display: flex;
    gap: 1rem;
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

#slider:hover {
    animation-play-state: paused;
}

#slider div {
    width: 15rem;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#slider div button{
    background-color: var(--black);
    color: var(--lightgray);
    transition: all 300ms linear;
    cursor: pointer;
    border: none;
}

#slider div:hover button{
    background-color: var(--white);
    color: var(--black);
    transition: all 300ms linear;
}

#slider div img{
    width: 100%;
    height: 80%;
}

.arrivals[data-direction="right"] {
  --_animation-direction: reverse;
}

.arrivals[data-direction="left"] {
  --_animation-direction: forwards;
}

.arrivals[data-speed="fast"] {
  --_animation-duration: 20s;
}

.arrivals[data-speed="slow"] {
  --_animation-duration: 60s;
}

#reviews-wrapper {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 5rem auto 2rem;
}

#wrapper {
    overflow: hidden;
    flex: 1;
}

#reviews {
    display: flex;
    gap: 1rem;
    transition: all 0.4s ease-in-out;
}

.review {
    flex: 0 0 calc((100% - 2rem) / 3); /* Desktop: 3 reviews */
    padding: 0.5rem;
    background-color: var(--lightgray);
    color: var(--black);
    border-radius: 20px;
    font-size: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.review img {
    border-radius: 50%;
}

#prev, #next {
    cursor: pointer;
    transition: all 300ms linear;
}

#prev:hover, #next:hover {
    transform: scale(1.1);
}

footer {
    border-top: 1px solid var(--darkgray);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#footer-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

footer a {
    text-decoration: none;
    color: var(--lightgray);
    display: inline-block;
    width: fit-content;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

footer a::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--darkgray);
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

footer a:hover::before {
    left: 0;
    right: 0;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
}

@media (max-width: 1050px) and (min-width: 801px) {
    #collections div {
        height: 550px;
    }

    .reason {
        padding: 0.5rem;
    }

    .reason p {
        font-size: 1.2rem;
    }

    .blog {
        width: 80%;
    }

    .member img {
        width: 50%;
    }

    .review {
        font-size: 60%;
    }

    footer {
        flex-direction: column;
    }

    #copyright {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 800px) and (min-width: 651px) {
    :root {
        font-size: 90%;
    }

    .hero img {
        width: 20%;
    }
    
    #collections div {
        height: 500px;
    }

    #gallery {
        column-count: 2;
    }

    .blog {
        width: 80%;
    }

    .member img {
        width: 55%;
    }

    #arrivals {
        mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    }

    #slider div {
        width: 12rem;
    }

    .review {
        flex: 0 0 calc((100% - 1rem) / 2); /* Tablet: 3 reviews */
    }

    footer {
        flex-direction: column;
    }

    #copyright {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 650px) and (min-width: 501px) {
    :root {
        font-size: 80%;
    }

    section {
        margin-bottom: 50px;
    }

    .hero img {
        width: 25%;
    }

    #collections div {
        height: 450px;
    }

    #gallery {
        column-count: 2;
    }

    #words {
        word-spacing: 2rem;
    }

    .blog {
        width: 90%;
    }

    .blog span {
        padding: 1.5rem 3rem;
    }

    .blog:hover .blog-info h4 {
        letter-spacing: 0.4rem;
    }

    .member img {
        width: 55%;
    }

    #arrivals {
        mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    }

    #slider div {
        width: 12rem;
    }

    .review {
        flex: 0 0 calc((100% - 1rem) / 2); /* Tablet: 2 reviews */
    }

    footer {
        flex-direction: column;
    }

    #copyright {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 500px){
    :root {
        font-size: 60%
    }

    .hero {
        justify-content: space-around;
    }

    .hero h1{
        font-size: 8rem;
        font-weight: 900;
    }

    .hero img {
        width: 25%;
    }

    #collections {
        padding: 2rem;
    }
    
    #collections div {
        height: 400px;
        font-size: 100%;
    }

    #gallery {
        column-count: 1;
    }

    #story {
        padding: 1rem;
        margin: 0 1rem;
    }

    .reason {
        min-width: 280px;
    }

    #words {
        word-spacing: 2rem;
    }

    .blog {
        display: flex;
        flex-direction: column;
        height: 30rem;
    }

    .blog-img {
        height: 100%;
    }

    .blog-info {
        text-align: center;
    }

    .blog span {
        transform: rotate(0);
        width: 100%;
    }

    .member img {
        width: 55%;
    }

    #arrivals {
        max-width: 100%;
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    }

    #slider div {
        width: 15rem;
    }

    .review {
        flex: 0 0 calc(100%); /* Mobile: 1 reviews */
    }

    footer {
        flex-direction: column;
    }

    #footer-wrapper {
        gap: 1rem;
    }

    #copyright {
        align-items: center;
        text-align: center;
    }
}